/* Change url(../activity/activity-helloworld.svg); for set your custom activity icon */
#main-toolbar #activity-button {
  background-image: url(../activity/tota-logo.svg);
}

#canvas {
	width: 1200px;
	height: 845px;
	background-color: #77f442;
	/*text-align: center;*/
}
#modal {
  z-index: 998;
  position: absolute;
  top: 0px;
  width: 1200px;
  height: 845px;
  background-color: black;
  opacity: 0.7;
}
#modal-content {
	z-index: 999;
	position: absolute;
  border: 8px solid #2E9AFE;
  border-radius: 40px;

  background-color: white;
  width: 1100px;
  height: 750px;
  top: 40px;
  left: 43px;
}
#close-modal {
  position: absolute;
  background-image: url(../img/close-modal.png);
  width: 60px;
  height: 60px;
  padding: 0px;
  border: none;
  border-radius: 30px;
  right: 5px;
  top: 5px;
}
#close-modal:hover {
  background-image: url(../img/close-modal-hover.png);
}

.container_matrix{
  vertical-align: center;
  width: 80%;
  height: 80%;
  margin: auto;
  /*background-color: black;
  opacity: 0.7;*/
}

.row{
  /*background-color: brown;*/
  margin-left: 10%;
  width: 80%;
  height: 50px;
  padding: 0px;
  text-align: center;
  /*display: flex;
  justify-content: center;*/
}

.content-row {
  margin: auto;
}
.content-row#R1 {
  width: 125px;
  height: 100%;
}
.content-row#R2 {
  width: 250px;
  height: 100%;
}
.content-row#R3 {
  width: 375px;
  height: 100%;
}
.content-row#R4 {
  width: 500px;
  height: 100%;
}
.content-row#R5 {
  width: 625px;
  height: 100%;
}

.input_row{
  width: 120px;
  height: 45px;
  padding: 0px;
  background-color: #ce9a3a;
  border: 2px solid;
  border-color: #ac5b14;
  text-align: center;
  font-size: 40px;
  color: white;
  float: left;
}

.input_row_false{
  width: 120px;
  height: 45px;
  margin: 0px;
  background-color: #ce9a3a;
  border: solid 2px;
  border-color: #ac5b14;
  text-align: center;
  font-size: 40px;
  color: white;
  float: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.hidden {
  display: none;
}

/*************************************/
.container-matrix-column {
  width: 100%;
  height: 33%;
}
#container-dropzone-exercise {
  width: 70%;
  height: 30%;
  margin: auto;
  background-color: transparent;
  border-radius: 5px;
  position: absolute;
  top: 400px;
  left: 200px;
}
#container-draggable-exercise {
  width: 90%;
  height: 10%;
  margin: auto;
  background-color: transparent;
  border-radius: 5px;
  position: absolute;
  top: 680px;
  left: 70px;
}
#content-resp {
  width: 610px;
  height: 90px;
  margin: auto;
}
.drag-start {
  width:86px;
  height:100%;
  float:left;
}
.numeric-dropzone {
  width: 114px;
  height: 114px;
  /*background-color: #8B4513;
  border-radius: 50px;*/
  background-color: transparent;
  background-image: url(../img/dropzone.png);
  /*border: dashed 7px transparent;*/
  float: left;
  transition: background-color 0.3s;
}
.numeric-dropzoneR {
  width: 100px;
  height: 75px;
  /*background-color: #99978D;*/
  background-color: transparent;
  border-radius: 50px;
  border: dashed 7px transparent;
  border-color: #5E6768;
  float: left;
  text-align: center;
  color: black;
  font-weight: bold;
  font-size: 40px;
  padding-top: 25px;
}
.container-mathematics {
  width: 114px;
  height: 114px;
  background-color: #B1B1A5;
  border-radius: 10px;
  float: left;
}
.mathematic-button {
  width: 50px;
  height: 50px;
  margin: 3.5px;
  border: 0px;
  padding: 0px;
  background-color: #008080;
  border-radius: 10px;
  float: left;
  font-size: 35px;
  font-weight: bold;
}
.mathematic-button:hover {
  background-color: white;
  color: #008080;
}
.mathematic-resp {
  width: 70px;
  height: 70px;
  margin: 22px;
  border: 0px;
  padding: 0px;
  background-color: #008080;
  border-radius: 10px;
  font-size: 35px;
  font-weight: bold;
  /*float: left;*/
}
.mathematic-resp-on:hover {
  background-color: white;
  color: #008080;
}
.mathematic-off {
  background-color: #a2a2a2;
  border-color: #a2a2a2;
}
.drag-drop {
  /*display: inline-block;*/
  width: 90px;
  height: 70px;
  padding-top: 20px;
  min-width: 40px;
  float: left;
  color: black;
  background-color: transparent;
  background-image: url(../img/draggable.png);
  /*background-color: white;
  border-radius: 40px;
  border: solid 3px black;*/
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  transition: background-color 0.3s;
}
.drop-active {
  border-color: #FFD700;
}
.drop-target { 
  /*background-color: black;*/
  background-image: url(../img/dropzone-u.png);
  border-color: white;
  border-style: solid;
}
.drag-drop.can-drop {
  color: white;
  /*background-color: #008080;
  border-color: white;*/
  background-image: url(../img/draggable-u.png);
}
#dropback {
  width: 76px;
  height: 76px;
  border-radius: 40px;
  float: left;
  color: #ffa500;
  background-color: #f7eb53;
  border: solid 5px #ffa500;
  text-align: center;
  font-weight: bold;
  font-size: 25px;  
}
#dropback:hover {
  color: #f7eb53;
  background-color: #ffa500;
  border: solid 5px #ffa500; 
}
/******************************************/

#opening {
  width: 1200px;
  height: 845px;
  background-image: url(../img/start.png);
}
#history {
  width: 120px;
  height: 120px;
  padding: 0px;
  margin-left: 10px;
  margin-top: 10px;
  background-color: transparent;
  border: none;
  border-radius: 60px;
  color: black;
  background-image: url(../img/sun.png);
}
#history:hover {
  zoom: 105%;
}
#play {
  position: absolute;
  top: 230px;
  left: 360px;
  background-image: url(../img/play.png);
  width: 480px;
  height: 290px;
  background-color: transparent;
  border: none;
  color: black;
}
#play:hover {
  zoom: 105%;
  left: 333px;
}

#opening div {
  width: 20%;
  height: 20%;
  background-color: white;
  opacity: 0.75;
  margin: auto;
  text-align: center;
}

#menu {
  width: 1200px;
  height: 845px;
  background-image: url(../img/menu.png);
}
/*#menu div {
  width: 20%;
  height: 20%;
  background-color: white;
  opacity: 0.75;
  margin: auto;
  text-align: center;
}*/
#help-menu {
  background-image: url(../img/help.png);
  width: 113px;
  height: 113px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  left: 10px;
}
#help-menu:hover {
  background-image: url(../img/help-hover.png);
}
#acelerando-button {
  background-image: url(../img/acelerando-button.png);
  width: 275px;
  height: 95px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 575px;
  left: 265px;
}
#acelerando-button:hover {
  background-image: url(../img/acelerando-button-hover.png);
}
#atiempo-button {
  background-image: url(../img/atiempo-button.png);
  width: 240px;
  height: 85px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 580px;
  left: 690px;
}
#atiempo-button:hover {
  background-image: url(../img/atiempo-button-hover.png);
}
#acelerando-dialog {
  background-image: url(../img/div-acelerando.png);
  width: 910px;
  height: 515px;
  position: absolute;
  top: 50px;
  left: 140px;
}
#atiempo-dialog {
  background-image: url(../img/div-atiempo.png);
  width: 910px;
  height: 515px;
  position: absolute;
  top: 50px;
  left: 140px;
}
#acelerando-level-1, #atiempo-level-1{
  background-image: url(../img/button-level-1.png);
  width: 120px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  position: absolute;
  top: 375px;
  left: 200px;
}
#acelerando-level-1:hover, #atiempo-level-1:hover{
  background-image: url(../img/button-level-1-hover.png);
}
#acelerando-level-2, #atiempo-level-2 {
  background-image: url(../img/button-level-2.png);
  width: 120px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  position: absolute;
  top: 375px;
  left: 400px;
}
#acelerando-level-2:hover, #atiempo-level-2:hover {
  background-image: url(../img/button-level-2-hover.png);
}
#acelerando-level-3 {
  background-image: url(../img/button-level-3.png);
  width: 120px;
  height: 40px;
  background-color: transparent;
  border: none;
  border-radius: 0px;
  position: absolute;
  top: 375px;
  left: 600px;
}
#acelerando-level-3:hover {
  background-image: url(../img/button-level-3-hover.png);
}
#atiempo-level-1 {
  left: 300px;
}
#atiempo-level-2 {
  left: 500px;
}

#back-opening {
  background-image: url(../img/back.png);
  width: 240px;
  height: 75px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 700px;
  left: 10px;
}
#back-opening:hover {
  background-image: url(../img/back-hover.png);
}

#acelerando {
  width: 1200px;
  height: 845px;
  background-image: url(../img/acelerando.png);
}
#container-level-1{
  position: absolute;
  top: 325px;
  left: 175px;
  height: 50%;
}
.health-gameAC {
  background-image: url(../img/health-acelerando.png);
  width: 82px;
  height:82px;
  border: none;
  background-color: transparent;
  color: transparent;
  padding-top: 15px;
  font-weight: bold;
  font-size: 35px;
}
.health-gameAC:hover {
  background-color: transparent;
}
#contA-game {
  background-image: url(../img/count.png);
  width: 82px;
  height:82px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 1020px;
  padding-top: 15px;
  font-weight: bold;
  font-size: 35px;
}
#helpA-game {
  background-image: url(../img/help-game.png);
  width: 82px;
  height:82px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 1110px;
}
#helpA-game:hover {
  background-image: url(../img/help-game-hover.png);
}
#backA-menu {
  background-image: url(../img/back.png);
  width: 240px;
  height: 75px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 700px;
  left: 10px;
}
#backA-menu:hover {
  background-image: url(../img/back-hover.png);
}

#atiempo {
  width: 1200px;
  height: 845px;
  background-image: url(../img/atiempo.png);
}
.health-gameAT {
  background-image: url(../img/health-atiempo.png);
  width: 82px;
  height:82px;
  border: none;
  background-color: transparent;
  color: transparent;
  padding-top: 15px;
  font-weight: bold;
  font-size: 35px;
}
.health-gameAT:hover {
  background-color: transparent;
}
#contAT-game {
  background-image: url(../img/count.png);
  width: 82px;
  height:82px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 1020px;
  padding-top: 15px;
  font-weight: bold;
  font-size: 35px;
}
#helpAT-game {
  background-image: url(../img/help-game.png);
  width: 82px;
  height:82px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0px;
  left: 1110px;
}
#helpAT-game:hover {
  background-image: url(../img/help-game-hover.png);
}
#backAT-menu {
  background-image: url(../img/back.png);
  width: 240px;
  height: 75px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 700px;
  left: 7px;
}
#backAT-menu:hover {
  background-image: url(../img/back-hover.png);
}

#helpA-game, #contA-game, #helpAT-game, #contAT-game {
  float: right;
}

.container-status {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 90px;
}

.container-column {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  float: left;
}