/* Change url(../activity/activity-helloworld.svg); for set your custom activity icon */
#main-toolbar #activity-button {
  background-image: url(../activity/tota-logo.svg);
}

#canvas {
	width: 1200px;
	height: 845px;
	background-color: #77f442;
	/*text-align: center;*/
}

#front {
	z-index: 999;
	position: absolute;
    left: 300px;
    top: 210px;
    width: 600px;
    height: 420px;
    background-color: black;
    opacity: 0.75;
}

#container_matrix{
  vertical-align: center;
  width: 80%;
  height: 80%;
  margin: auto;
  background-color: black;
  opacity: 0.7;
}

.row{
  /*background-color: brown;*/
  margin-left: 10%;
  width: 80%;
  height: 50px;
  padding: 0px;
  text-align: center;
  /*display: flex;
  justify-content: center;*/
}

.content-row {
  margin: auto;
}
.content-row#R1 {
  width: 125px;
  height: 100%;
}
.content-row#R2 {
  width: 250px;
  height: 100%;
}
.content-row#R3 {
  width: 375px;
  height: 100%;
}
.content-row#R4 {
  width: 500px;
  height: 100%;
}
.content-row#R5 {
  width: 625px;
  height: 100%;
}

.input_row{
  width: 120px;
  height: 45px;
  padding: 0px;
  background-color: #ce9a3a;
  border: 2px solid;
  border-color: #ac5b14;
  text-align: center;
  font-size: 40px;
  color: white;
  float: left;
}

.input_row_false{
  width: 120px;
  height: 45px;
  margin: 0px;
  background-color: #ce9a3a;
  border: solid 2px;
  border-color: #ac5b14;
  text-align: center;
  font-size: 40px;
  color: white;
  float: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.hidden {
  display: none;
}

/*************************************/
.container-matrix-column {
  width: 100%;
  height: 33%;
}
#container-dropzone-exercise {
  width: 90%;
  height: 80%;
  margin: auto;
  background-color: grey;
  border-radius: 5px;
}
#container-draggable-exercise {
  width: 90%;
  height: 50%;
  margin: auto;
  background-color: grey;
  border-radius: 5px;
}
#content-resp {
  width: 610px;
  height: 90px;
  margin: auto;
}
.drag-start {
  width:86px;
  height:100%;
  float:left;
}
.numeric-dropzone {
  width: 100px;
  height: 100px;
  background-color: #8B4513;
  border-radius: 50px;
  border: dashed 7px transparent;
  /*border-color: #FFD700;*/
  float: left;
  transition: background-color 0.3s;
}
.numeric-dropzoneR {
  width: 100px;
  height: 75px;
  background-color: #696969;
  border-radius: 50px;
  border: dashed 7px transparent;
  border-color: black;
  float: left;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 40px;
  padding-top: 25px;
}
.container-mathematics {
  width: 114px;
  height: 114px;
  background-color: #696969;
  border-radius: 10px;
  float: left;
}
.mathematic-button {
  width: 50px;
  height: 50px;
  margin: 3.5px;
  border: 0px;
  padding: 0px;
  background-color: #008080;
  border-radius: 10px;
  float: left;
  font-size: 35px;
  font-weight: bold;
}
.mathematic-button:hover {
  background-color: white;
  color: #008080;
}
.mathematic-resp {
  width: 70px;
  height: 70px;
  margin: 22px;
  border: 0px;
  padding: 0px;
  background-color: #008080;
  border-radius: 10px;
  font-size: 35px;
  font-weight: bold;
  /*float: left;*/
}
.mathematic-resp-on:hover {
  background-color: white;
  color: #008080;
}
.mathematic-off {
  background-color: #a2a2a2;
  border-color: #a2a2a2;
}
.drag-drop {
  /*display: inline-block;*/
  width: 80px;
  height: 60px;
  padding-top: 20px;
  border-radius: 40px;
  min-width: 40px;
  float: left;
  color: black;
  background-color: white;
  border: solid 3px black;
  text-align: center;
  font-weight: bold;
  font-size: 25px;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  transition: background-color 0.3s;
}
.drop-active {
  border-color: #FFD700;
}
.drop-target { 
  background-color: black;
  border-color: white;
  border-style: solid;
}
.drag-drop.can-drop {
  color: white;
  background-color: #008080;
  border-color: white;
}

/******************************************/

#opening {
  width: 1200px;
  height: 845px;
  background-image: url(../img/opening.png);
}
#opening div {
  width: 20%;
  height: 20%;
  background-color: white;
  opacity: 0.75;
  margin: auto;
  text-align: center;
}

#menu {
  width: 1200px;
  height: 845px;
  background-image: url(../img/menu.png);
}
#menu div {
  width: 20%;
  height: 20%;
  background-color: white;
  opacity: 0.75;
  margin: auto;
  text-align: center;
}

#acelerando {
  width: 1200px;
  height: 845px;
  background-image: url(../img/acelerando.png);
}

#atiempo {
  width: 1200px;
  height: 845px;
  background-image: url(../img/atiempo.png);
}

#helpA-game, #contA-game {
  float: right;
}

#container-statusA {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 50px;
}

.container-column {
  margin: 0px;
  padding: 0px;
  width: 50%;
  height: 100%;
  float: left;
}